In [45]:

fd=open('record.json','r')
r=fd.read()
fd.close()

In [46]:
import json
record=json.loads(r)
record

{'1001': {'name': 'choco cake', 'pr': 100, 'qn': 134},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Brown Cake', 'pr': 1700, 'qn': 10},
 '1007': {'name': 'Red Cake', 'pr': 600, 'qn': 10},
 '1008': {'name': 'Orange Cake', 'pr': 500, 'qn': 10},
 '1009': {'name': 'greenCake', 'pr': 400, 'qn': 10},
 '1010': {'name': 'Red pen', 'pr': 300, 'qn': 10},
 '1011': {'name': 'Blue pen', 'pr': 200, 'qn': 10},
 '1012': {'name': 'Blue Cake', 'pr': 100, 'qn': 10},
 '1013': {'name': 'White pen', 'pr': 900, 'qn': 10},
 '1014': {'name': 'Green pen', 'pr': 800, 'qn': 10},
 '1015': {'name': 'shirt', 'pr': 700, 'qn': 10},
 '1016': {'name': 'pant', 'pr': 600, 'qn': 10},
 '1017': {'name': 'basket', 'pr': 500, 'qn': 10},
 '1018': {'name': 'Earphone', 'pr': 400, 'qn': 10},
 '1019': {'name': 'Bud', 'pr': 300, 'qn': 10},
 '1020': {'name': 'Footware', 'pr': 200, 'qn': 10},
 '1021': {'name': 'Carrot', 'pr': 100, 'qn': 10},
 '1022': {'name': 'Tomato', 'pr': 900, 'qn': 10},
 '1023': {'name': 'Onion', 'pr': 800, 'qn': 10},
 '1024': {'name': 'Apple', 'pr': 700, 'qn': 10},
 '1025': {'name': 'mango', 'pr': 600, 'qn': 10},
 '1026': {'name': 'Banana', 'pr': 500, 'qn': 10},
 '1027': {'name': 'Orange', 'pr': 400, 'qn': 10},
 '1028': {'name': 'COpy', 'pr': 300, 'qn': 10},
 '1029': {'name': 'Tea', 'pr': 200, 'qn': 10},
 '1030': {'name': 'Green tea', 'pr': 100, 'qn': 10}}

In [41]:
prod_id=input("Enter the product id:")
name=input('Enter name:')
pr=int(input('Enter the price:'))
qn=int(input('Enter the quantity:'))
if prod_id in record.keys():
  qn=qn+record[prod_id]['qn']
record[prod_id]={'name':name,'pr':pr,'qn':qn}
js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)
fd.close()

Enter the product id:1001
Enter name:choco cake
Enter the price:100
Enter the quantity:100

In [42]:
record

{'1001': {'name': 'choco cake', 'pr': 100, 'qn': 134},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Cake', 'pr': 100, 'qn': 10}}