In [3]:
import json
fd=open('record.json','r')
r=fd.read()
fd.close()
records=json.loads(r)
records

{'1001': {'name': 'choco cake', 'pr': 100, 'qn': 134},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Brown Cake', 'pr': 1700, 'qn': 10},
 '1007': {'name': 'Red Cake', 'pr': 600, 'qn': 10},
 '1008': {'name': 'Orange Cake', 'pr': 500, 'qn': 10},
 '1009': {'name': 'greenCake', 'pr': 400, 'qn': 10},
 '1010': {'name': 'Red pen', 'pr': 300, 'qn': 10},
 '1011': {'name': 'Blue pen', 'pr': 200, 'qn': 10},
 '1012': {'name': 'Blue Cake', 'pr': 100, 'qn': 10},
 '1013': {'name': 'White pen', 'pr': 900, 'qn': 10},
 '1014': {'name': 'Green pen', 'pr': 800, 'qn': 10},
 '1015': {'name': 'shirt', 'pr': 700, 'qn': 10},
 '1016': {'name': 'pant', 'pr': 600, 'qn': 10},
 '1017': {'name': 'basket', 'pr': 500, 'qn': 10},
 '1018': {'name': 'Earphone', 'pr': 400, 'qn': 10},
 '1019': {'name': 'Bud', 'pr': 300, 'qn': 10},
 '1020': {'name': 'Footware', 'pr': 200, 'qn': 10},
 '1021': {'name': 'Carrot', 'pr': 100, 'qn': 10},
 '1022': {'name': 'Tomato', 'pr': 900, 'qn': 10},
 '1023': {'name': 'Onion', 'pr': 800, 'qn': 10},
 '1024': {'name': 'Apple', 'pr': 700, 'qn': 10},
 '1025': {'name': 'mango', 'pr': 600, 'qn': 10},
 '1026': {'name': 'Banana', 'pr': 500, 'qn': 10},
 '1027': {'name': 'Orange', 'pr': 400, 'qn': 10},
 '1028': {'name': 'COpy', 'pr': 300, 'qn': 10},
 '1029': {'name': 'Tea', 'pr': 200, 'qn': 10},
 '1030': {'name': 'Green tea', 'pr': 100, 'qn': 10}}

# Purchase

In [9]:
ui_prod=input('Enter the product_id')
ui_quant=int(input('Enter the quantity:'))
print("product: ",records[ui_prod]['name'])
print("Price: ",records[ui_prod]['pr'])
print("Billing Amount: ",int(records[ui_prod]['pr'])*ui_quant)
records[ui_prod]['qn']=int(records[ui_prod]['qn'])-ui_quant

Enter the product_id1001
Enter the quantity:1
product:  choco cake
Price:  100
Billing Amount:  100

# Update inventory after purchase

In [10]:
js=json.dumps(records)
fd=open('record.json','w')
fd.write(js)
fd.close()

# Sales

In [18]:
sales={}
sales[len(sales)+1]={'prod':ui_prod,'qn':ui_quant,'amount':records[ui_prod]['pr']*ui_quant}
sales

{1: {'amount': 100, 'prod': '1001', 'qn': 1}}

In [19]:
js=json.dumps(sales)
fd=open("sales.json",'w')
fd.write(js)
fd.close()

In [20]:
fd=open('sales.json','r')
r=fd.read()
r

'{"1": {"prod": "1001", "qn": 1, "amount": 100}}'